---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">
      <h2>research</h2>
      {{ content }}
    </div>

    <!-- Personal -->
    {% if page.personal -%}
      <div class="personal">
        <h2>me</h2>
        <p>
          I live in Seattle. When not working, I hang with my cat <a href="/assets/img/belphie.jpeg">Belphegor</a> and play
          board games (<a href="https://boardgamegeek.com/boardgame/121921/robinson-crusoe-adventures-cursed-island">Robinson
            Crusoe</a>, <a href="https://boardgamegeek.com/boardgame/191189/aeons-end">Aeon's End</a>, <a href="https://boardgamegeek.com/boardgame/253344/cthulhu-death-may-die">Cthulu: Death May Die</a>, <a
            href="https://boardgamegeek.com/boardgame/98778/hanabi">Hanabi</a>) and video games (<a
            href="https://store.steampowered.com/app/1086940/Baldurs_Gate_3/">Baldur's Gate 3</a>,
          <a href="https://store.steampowered.com/app/892970/Valheim">Valheim</a>,
          <a href="https://store.steampowered.com/app/646570/Slay_the_Spire/">Slay the Spire</a>,
          <a href="https://store.steampowered.com/app/881100/Noita/">Noita</a>,
          <a href="https://store.steampowered.com/app/1794680/Vampire_Survivors/">Vampire Survivors</a>). I love D&D and just
          finished a four year campaign in <a href="https://dnd.wizards.com/products/eberron">Eberron</a>.
          Now embarking on a homebrew <a
            href="https://cannibalhalflinggaming.com/2021/10/27/meet-the-campaign-intro-to-west-marches/">West Marches
            campaign</a> while trying out some other systems like <a
            href="https://evilhat.com/product/blades-in-the-dark/">Blades in the
            Dark</a>. I'm a boba enthusiast and my favorites
          in Seattle are <a href="https://xingfutang.com/">Xing Fu Tang</a>, <a href="https://en.tp-tea.com/">TP Tea</a> and
          <a href="https://www.snrtea.com/">Mustache Milk Tea</a>.
        </p>
      </div>
    {%- endif %}

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
